/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* init and resets*/
:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    padding:  0;
    box-sizing: border-box;
    vertical-align: top;
    outline: 0;
    /* outline: red 1px dashed; */
}

body {
    margin: 0 auto;
    width: 40%;
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 960px) {
    body {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    body {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }
}

/* Navbar */

nav {
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 0 2rem;
}

h1 {
    font-size: 3.5rem;
}

#feed {
    line-height: 1;
    text-align: center;
    padding: 2rem
}

.container {
    display:flex;
    justify-content: center;
    gap: 2rem;
    /* flex-direction: row; */
}

.col1 {
    display: flex;
}

.col2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.prof {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 3rem 0;
    width: 20rem;
    border: 2px solid black;
    margin-bottom: auto;
    text-align: center;
}

#pic {
    height: 5rem;
    width: 5rem;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 2rem;
    border: 2px solid black;
}

.subrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
}

.subrow h3, .desc {
    margin-right: auto;
}

.btn {
    font-family: inherit;
    line-height: 1;
    height: 2.5rem;
    width: 7rem;
    color: black;
    background-color: #FFD966;
    border: solid 2px black;
    box-shadow: .3rem .3rem black;
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 0 0 black;
}



